*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}
a{
  text-decoration: none;
}
.bg-hero{

  background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(#e1e1e1 1px, transparent 1px), linear-gradient(to right, #e1e1e1 1px, #e5e5f7 1px);
background-size: 20px 20px;

}

